@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Lato', sans-serif;
}

main {
    height: calc(100vh - 82px);
    overflow-y: auto;
}

.box {
    border: 1px solid #bdbdbd;
}


.pb-page {
    color: #313131;
    font-weight: bold;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
}

.pb-page:hover {
    background-color: #aeaeae;
}


.main-wrapper {
    height: calc(100vh - 82px);
}

.lf-links {
    text-decoration: none;
    font-size: 0.8rem;

    &:hover {
        color: #aeaeae;
    }
}
